name: Appetize Build

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build & Package
        run: |
          xcodebuild build \
            -project Boathouse.xcodeproj \
            -scheme Boathouse \
            -sdk iphonesimulator \
            -configuration Debug \
            -derivedDataPath DerivedData \
            -parallelizeTargets \
            CODE_SIGNING_ALLOWED=NO \
            ONLY_ACTIVE_ARCH=NO \
            -quiet
          cd DerivedData/Build/Products/Debug-iphonesimulator
          zip -r -y ../../../../Boathouse.zip Boathouse.app

      - uses: actions/upload-artifact@v4
        with:
          name: Boathouse-Appetize
          path: Boathouse.zip
